@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Harmonies:#FF5757;
  --online: #44b700;
  --offline: #b74400;
  --White: #ffffff;
  --Black:#000000;
  --Black-trasparente: #000000d0;

}

body {
  color: rgb(var(--White));
}


.header {
  width: 100% !important;
  height: 100px;
  padding: 0 2rem !important;
  background-color:var(--Black-trasparente) !important;
  color: var(--White) !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: space-between !important;
  z-index:2000;
}
@media (max-width: 1023px) {
  .header {
    background-color: rgb(0, 0, 0) !important;
    height: 75px;
   
  }
}