@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Harmonies: #FF5757;
  --online: #44b700;
  --offline: #b74400;
  --White: #ffffff;
  --Black: #000000;
  --Black-trasparente: #0000009f;
  --carnation-50: #fff1f1;
  --carnation-100: #ffe1e1;
  --carnation-200: #ffc7c7;
  --carnation-300: #ffa0a0;
  --carnation-400: #ff5757;
  --carnation-500: #f83b3b;
  --carnation-600: #e51d1d;
  --carnation-700: #c11414;
  --carnation-800: #a01414;
  --carnation-900: #841818;
  --carnation-950: #480707;

}

body {
  color: rgb(var(--White));
  padding-right: 0px !important;
  overflow: auto  !important;
}

.header {
  width: 100vw !important;
  height: 100px;
  padding: 0 2rem !important;
  background-color: var(--Black-trasparente) !important;
  color: var(--White) !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: space-between !important;
  
}

@media (max-width: 600px) {
  .header {
    background-color: var(--Black-trasparente) !important;
    height: 80px;
  }
}